doctype html
html
  head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
      link(rel="stylesheet" href='https://use.typekit.net/jff8xhs.css')
      link(rel='stylesheet' href='/stylesheets/reset.css')
      link(rel='stylesheet' href='/stylesheets/nav-styles.css')
      link(rel='stylesheet' href='/stylesheets/styles.css')
      link(rel='stylesheet' href='/stylesheets/topics.css')
      link(rel='stylesheet' href='/stylesheets/topic.css')
      link(rel="stylesheet" href='/stylesheets/search-styles.css')
      link(rel="stylesheet" href='/stylesheets/homepage.css')
      link(rel="stylesheet" href='/stylesheets/sidebar.css')

      script(type='module' src='/javascripts/index.js')
      title CookNook
      block head
  body
    nav#nav
      div#nav-div
        a(href='/' id="logo")
        a(href='/questions' id="questions") Questions
        a(href='/topics' id="topics") Topics
        div#searchbar
          div#search-icon
          form(id="form" action="/search" method="post")
            input(id="search-input" type="search" spellcheck="on" autocorrect="off" incremental onkeyup="searchBar()" placeholder="Search CookNook" name="q" minlength="3" maxlength="255")
        a(href="/question-form" id="add-question") Add question
        form(action="/users/logout" method="post")
          button(href="" type='submit' id="logout") Logout

  block content
