extends welcome.pug

block content
  div.form-container
    form(action='/welcome' method='post')#login-form
      div#error-div
        p#welcome-text Welcome!
        div
          p Developers:
            ul Andrew Murray-
              a(href='https://www.linkedin.com/in/andrew-murray-304b39231/' class='links') LinkedIn/
              a(href='https://github.com/AndrewPMurray' class='links') GitHub
            ul Luke Yamasaki-
              a(href='https://www.linkedin.com/in/lukeyamasaki/' class='links') LinkedIn/
              a(href='https://github.com/Luke-Yamasaki' class='links') GitHub
            ul Dane Becker-
              a(href='https://www.linkedin.com/in/dane-becker-780571230/' class='links') LinkedIn/
              a(href='https://github.com/DaneBex' class='links') GitHub
            ul Philip Roberts-
              a(href='https://www.linkedin.com/in/philip-roberts-app407/' class='links') LinkedIn/
              a(href='https://github.com/philroberts13' class='links') GitHub
        .error-messages
          ul#error-list
            each error in errors
              li(class='errors')=error
      div.form-items-login
        div#logo-img
        p#login-words Login
        input(name='_csrf' type='hidden' value=csrfToken)
        label Email:
        input(type='email' name='emailAddress' value=emailAddress placeholder='Your email')
        div.space
        label Password:
        input(type='password' name='password' placeholder='Your password')
        div#buttons-container
          div.space#buttons
            a(href='/users' class='login-button') Create an account
            button(type='submit').signup-login-button Login
          div.space#demo
            a(href='/welcome/demo' class='demo-button').demo-button Demo
