mixin sidebar
    div#home-sidebar-container
        div#user-greeting Hello, #{user.username}!
        aside#sidebar-demo
            p#browse-topics Browse Topics
            div#topics-display
                a(href="/topics/1" id="vegetables")
                a(href="/topics/1" id="topic-name-link") Vegetables
            div#topics-display
                a(href="/topics/2" id="tofu")
                a(href="/topics/2" id="topic-name-link") Tofu
            div#topics-display
                a(href="/topics/3" id="pasta")
                a(href="/topics/3" id="topic-name-link") Pasta
            div#topics-display
                a(href="/topics/4" id="chicken")
                a(href="/topics/4" id="topic-name-link") Chicken
            div#topics-display
                a(href="/topics/5" id="beef")
                a(href="/topics/5" id="topic-name-link") Beef
            div#topics-display
                a(href="/topics/6" id="pork")
                a(href="/topics/6" id="topic-name-link") Pork
            div#topics-display
                a(href="/topics/7" id="fish")
                a(href="/topics/7" id="topic-name-link") Fish
            div#topics-display
                a(href="/topics/8" id="shellfish")
                a(href="/topics/8" id="topic-name-link") Shellfish
            div#topics-display
                a(href="/topics/9" id="grilling")
                a(href="/topics/9" id="topic-name-link") Grilling
            div#topics-display
                a(href="/topics/10" id="dessert")
                a(href="/topics/10" id="topic-name-link") Dessert

        div#developer-sidebar-container
          p#browse-topics Developers:
            ul#developer-display Andrew Murray-
              a(href='https://www.linkedin.com/in/andrew-murray-304b39231/' class='links') LinkedIn/
              a(href='https://github.com/AndrewPMurray' class='links') GitHub
            ul Luke Yamasaki-
              a(href='https://www.linkedin.com/in/lukeyamasaki/' class='links') LinkedIn/
              a(href='https://github.com/Luke-Yamasaki' class='links') GitHub
            ul Dane Becker-
              a(href='https://www.linkedin.com/in/dane-becker-780571230/' class='links') LinkedIn/
              a(href='https://github.com/DaneBex' class='links') GitHub
            ul#developer-display Philip Roberts-
              a(href='https://www.linkedin.com/in/philip-roberts-app407/' class='links') LinkedIn/
              a(href='https://github.com/philroberts13' class='links') GitHub
