body {
    overflow: hidden;
    margin: 0;
  }

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(184, 38, 37);
  width: 100vw;
  height: 80px;
  position: sticky;
  top: 0vh;
  z-index: 21;
}

#nav-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: 80px;
  z-index: 21;
}

#logo {
  background-image: url("../Brand Assets/logo/CookNook Logo - White.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 200px;
  height: 80px;
  z-index: 21;
  margin-top: 40px;
  margin-right: 50px;
}

#questions {
  font-family: din-2014;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  color: white;
  background-color: rgba(1, 1, 1, 0);
  text-decoration: none;
  z-index: 21;
  margin-right: 20px;
}

#topics {
  font-family: din-2014;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  color: white;
  background-color: rgba(1, 1, 1, 0);
  text-decoration: none;
  margin-right: 20px;
}

#form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  width: 13vw;
}

#searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color:rgb(184, 38, 37);
  border: 0.25px solid white;
  border-radius: 0.5rem;
  height: 45px;
  min-width: 200px;
  margin-right: 20px;
  position: relative;
}

#search-icon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../Brand Assets/icons/CookNook\ -\ Magnify\ Icon-14.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#search-input{
  position: absolute;
  right: -10px;
  height:40px;
  min-width:150px;
  background-color:rgba(1, 1, 1, 0);
  border: 0px;
  color: white;
}

#search-input:focus {
  outline: none;
}

#search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-image: url("../Brand Assets/icons/CookNook\ -\ Cancel\ Button-01.png");
  background-size: contain;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-right: 10px;
}

#search-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: din-2014;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
}

#search-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: din-2014;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
}

#search-input::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: din-2014;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
}

#search-input:-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: din-2014;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
}

#logout {
  font-family: din-2014;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#add-question {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color:rgba(184, 38, 37, 1) !important;
  border: 1px solid white;
  text-align: center !important;
  width: 150px !important;
  min-width: 150px;
  height: 40px;
  border-radius: 8px !important;
  cursor: pointer;
  margin-right: 20px;
}