#topics-page {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(231, 231, 231);
  width: 100vw;
  height: 100vh;
  padding-top: 4vh;
  overflow: scroll;
}

#topics-card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  width: 850px;
  height: 100vh;
}

#card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  width: 200px;
  height: 275px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  background-color: #F3F3F3;
}

#banner-box {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 200px;
  height: 100px;
}

#image-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-top: -50px;
}

#banner-1 {
  background-image: url("../images/banner/topic-banner1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;
  filter: blur(3px);
  margin-right: 10px;
  z-index: 1;
}

#banner-2 {
background-image: url("../images/banner/topic-banner2.png");
background-size: contain;
background-repeat: no-repeat;
width: 200px;
height: 100px;
filter: blur(3px);
z-index: 2;
}

#banner-3 {
background-image: url("../images/banner/topic-banner3.png");
background-size: contain;
background-repeat: no-repeat;
width: 200px;
height: 100px;
filter: blur(3px);
z-index: 3;
}

#banner-4 {
background-image: url("../images/banner/topic-banner4.png");
background-size: contain;
background-repeat: no-repeat;
width: 200px;
height: 100px;
filter: blur(3px);
z-index: 4;
}

#banner-5 {
background-image: url("../images/banner/topic-banner5.png");
background-size: contain;
background-repeat: no-repeat;
width: 200px;
height: 100px;
filter: blur(3px);
z-index: 5;
}

#banner-6 {
background-image: url("../images/banner/topic-banner6.png");
background-size: contain;
background-repeat: no-repeat;
width: 200px;
height: 100px;
filter: blur(3px);
z-index: 6;
}

#banner-7 {
background-image: url("../images/banner/topic-banner7.png");
background-size: contain;
background-repeat: no-repeat;
width: 200px;
height: 100px;
filter: blur(3px);
z-index: 7;
}

#banner-8 {
  background-image: url("../images/banner/topic-banner8.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;
  filter: blur(3px);
  z-index: 8;
}


#banner-9 {
  background-image: url("../images/banner/topic-banner9.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;
  filter: blur(3px);
  z-index: 9;
}

#banner-10 {
  background-image: url("../images/banner/topic-banner10.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;
  filter: blur(3px);
  z-index: 10;
}

#square-1 {
  background-image: url("../images/square/topic1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.5);
border-radius:10px;
border-radius:10px;;
  z-index: 11;
}

#square-2 {
background-image: url("../images/square/topic2.png");
background-size: contain;
background-repeat: no-repeat;
width: 80px;
height: 80px;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 10px;
z-index: 12;
}

#square-3 {
background-image: url("../images/square/topic3.png");
background-size: contain;
background-repeat: no-repeat;
width: 80px;
height: 80px;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius:10px;
z-index: 13;
}

#square-4 {
background-image: url("../images/square/topic4.png");
background-size: contain;
background-repeat: no-repeat;
width: 80px;
height: 80px;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius:10px;
z-index: 14;
}

#square-5 {
background-image: url("../images/square/topic5.png");
background-size: contain;
background-repeat: no-repeat;
width: 80px;
height: 80px;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius:10px;
z-index: 15;
}

#square-6 {
background-image: url("../images/square/topic6.png");
background-size: contain;
background-repeat: no-repeat;
width: 80px;
height: 80px;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius:10px;
z-index: 16;
}

#square-7 {
background-image: url("../images/square/topic7.png");
background-size: contain;
background-repeat: no-repeat;
width: 80px;
height: 80px;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius:10px;
z-index: 17;
}

#square-8 {
background-image: url("../images/square/topic8.png");
background-size: contain;
background-repeat: no-repeat;
width: 80px;
height: 80px;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius:10px;
z-index: 18;
}

#square-9 {
background-image: url("../images/square/topic9.png");
background-size: contain;
background-repeat: no-repeat;
width: 80px;
height: 80px;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius:10px;
z-index: 19;
}

#square-10 {
background-image: url("../images/square/topic10.png");
background-size: contain;
background-repeat: no-repeat;
width: 80px;
height: 80px;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius:10px;
z-index: 20;
}

#topic-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  margin-top: 20px;
}

#topic-text {
  font-weight: 400;
  font-size: 13px;
  width: 200px;
  text-align: center;
}

#topic-link:hover {
  text-decoration: underline;
}

.topic-title {
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;

  }

.topics-page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    grid-auto-rows: minmax(100px, auto);
    margin: auto;
  }

  .topics-box {
    width: 300px;
    height: 200px;
    margin: auto;
    background-color: white;
    padding: 40px;
  }

  .topic-title {
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
